<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page register</title>
  </head>
  <body>
    <h1>Register</h1>

    <form action="/register" method="POST">
      <div class="form-outline">
        <label class="form-label" for="form3Example2">Nom complet:</label>
        <input type="text" name="username" id="form3Example2" required />
      </div>

      <!-- Email input -->
      <div>
        <label class="form-label" for="form3Example3">Adresse mail:</label>
        <input type="email" name="email" id="form3Example3" required />
      </div>

      <!-- Password input -->
      <div>
        <label class="form-label" for="form3Example4">Mot de passe:</label>
        <input type="password" name="password" id="form3Example4" required />
      </div>

      <!-- Submit button -->
      <button type="submit">Créer</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Vous avez un compte? <a href="/">Login</a></p>
      </div>
    </form>
  </body>
</html>
